.banner {
    &__title {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        margin-bottom: 29px;
        margin-top: 0px;
        
        @media (min-width: 768px) {
            font-size: 58px;
            line-height: 70px;
        }
        
        @media (min-width: 1728px) {
            text-align: start;
        }
    }
    
    &__button {
        display: block;
        width: 300px;
        height: 48px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 12px 114px;
        margin: 0 auto;
       
        
        @media (min-width: 768px) {
            width: 219px;
            height: 66px;
            font-size: 28px;
            line-height: 34px;
            padding: 16px 59px;
            margin-top: 81px;
        }
        
        @media (min-width: 1728px) {
            margin-left: 0;
            margin-top: 33px;
        }
    }
    
    &__sneakershoe-wrapper {
        display: flex;
        gap: 42px;
        margin-top: 50px;
        margin-bottom: 46px;
        justify-content: center;
        
        @media (min-width: 1728px) {
            justify-content: start;
        }
    }
    
    &__sneakershoe {
        position: relative;
        background-color: #fff;
        width: 71px;
        height: 71px;
        border-radius: 8px;
    }
    
    &__sneakershoe-img {
        position: absolute;
        right: -19px;
        bottom: -11px;
        width: 105px;
        height: 105px;
        filter: drop-shadow(0px 3px 2px #00000005)
        drop-shadow(7px 5px 0px #00000007)
        drop-shadow(0px 12px 10px #00000009)
        drop-shadow(0px 22px 18px #0000000B)
        drop-shadow(0px 42px 33px #0000000D)
        drop-shadow(0px 100px 80px #00000012);
    }
}