.container {
    margin: 0 auto;
    padding: 0px 10px;
    max-width: 1728px;
    
    @media (min-width: 768px) {
        padding: 0px 20px;
    }
    
    @media (min-width: 1728px) {
        padding: 0px 84px;
    }
}