.container{
    margin: auto;
    max-width: 1560px;
    padding: 0 10px;

    @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 1728px) {
        padding-left: 84px;
        padding-right: 84px;
    }
}