.header {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 77px;
    }

    &__logo {

        @media(min-width: 768px) {
            margin-right: 140px;
        }

        @media(min-width: 1728px) {
            margin-right: 360px;
        }

        img {
            display: block;
            width: 74px;
            height: 25px;
            
            @media (min-width: 768px) {
                width: 94px;
                height: 32px;
            }
        }
    }

    &__menu {
        @include clear-list;

        display: flex;
        font-size: 16px;
        
        @media (max-width: 767px) {
            display: none;
        }

        @media (min-width: 1728px) {
            font-size: 24px;
            line-height: 37px;
        }

        a {
            display: block;
            padding: 15px 12px;

            @media (min-width: 1728px) {
                padding: 18px 18px;
            }
        }
    }

    &__user-action {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-left: auto;

        @media (min-width: 768px) {
            gap: 44px;
        }
    }

    &__button {

        @include clear-button;

        img {
            width: 20px;
            height: 18px;

            @media (min-width: 768px) {
                width: 29px;
                height: 27px;
            }
        }

            &--hidden {
                @media (min-width: 767px) {
                display: none;
            }
        }
    }
}
    


