.header {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 77px;
    }

    &__logo {

        @media(min-width: 768px) {
            margin-right: 140px;
        }

        @media(min-width: 1728px) {
            margin-right: 360px;
        }

        img {
            display: block;
            width: 74px;
            height: 25px;

            @media (min-width: 768px) {
                width: 94px;
                height: 32px;
            }
        }
    }

    &__nav {
         display: none;

         @media(min-width: 768px) {
            display: block;
         }

         &--showed {
             @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                padding: 15px 10px 20px 20px;
                position: absolute;
                z-index: 100;
                top: 0;
                right: 0;
                width: 56%;
                height: 100vh;
                background-color:#EBEBEB;
                box-shadow: -6px 0 19px 4px rgba(0,0,0,.09);
             }
         }
     }


    &__menu {
        @include clear-list;

        color: #000;

        @media (max-width: 767px) {
            position: relative;
            right: 0px;
            top: 75px;
            text-align: end;
            width: 100%;
        }

        @media (min-width: 768px) {
            display: flex;
            padding-top: 10px;
        }

        @media (min-width: 1728px) {
            font-size: 24px;
            line-height: 37px;
        }
    }

    &__menu-item{
        @media (max-width: 767px) {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }

        @media (min-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        @media (min-width: 1728px) {
            font-size: 24px;
            line-height: 37px;
        }

        a {
            display: block;
            @media (max-width: 767px) {
                background-color: #F6F6F6;
                padding: 10px 10px 10px 77px;
                border-top: 1px solid #d9d9d9ce;
                border-bottom: 1px solid #d9d9d9ce;
            }

            @media (min-width: 768px) {
                padding: 15px 12px;
            }

            @media (min-width: 1728px) {
                padding: 18px 18px;
            }
        }
    }

    &__description {
        display: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: end;
        margin-top: auto;

        @media (max-width: 767px) {
            display: block;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            padding: 10px;
        }

        img {
            width: 22px;
            height: 16px;
        }
    }

    &__user-action {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-left: auto;
        padding-top: 20px;
        position: relative;
        z-index: 101;

        @media (min-width: 768px) {
            gap: 44px;
        }
    }

    &__button {
        @include clear-button;

        position: relative;

        img {
            width: 20px;
            height: 18px;

            @media (min-width: 768px) {
                width: 29px;
                height: 27px;
            }
        }

        &--hidden {
            @media (min-width: 768px) {
            display: none;
        }
    }

        &--closed {
                display: none;   
        }
    }
}
