.slider-indicator {
    display: flex;
    justify-content: center;
    gap: 20px;

    &__item {
        &--small {
            width: 11px;
            height: 1   1px;
        }
    
        &--big {
            width: 30px;
            height: 11px;
        }
    
        &--bg-black {
            background-color: black;
        }
    
        &--bg-white {
            background-color: white;
        }
    
        &--round {
            border-radius: 50%;
        }
    
        &--half-round {
            border-radius: 20px;
        }
    }  
}
