.manner {
    background-color: #ffffff;
    width: 563px;
    height: 186px;
    border-radius: 15px;

    &--hidden {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__close-button {
        @include clear-button;
        
        padding-left: 500px;
        padding-top: 20px;
        
        img {
            width: 20px;
        }
    }
    
    &__title {

        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        margin-top: -2px; 
        
    }

}